.slide-fade-v-enter-active{
  transition: all .3s ease;
}
.slide-fade-v-leave-active{
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-v-enter, .slide-fade-v-leave-to{
  transform: translateY(-4rem);
  opacity: 0;
}
.err{
  position: fixed;
  top: 25%;
  background-color: #f13232;
  text-align: center;
  z-index: 1;
  color: white;
  font-weight: bold;
}
.err ul{
  list-style-type: none;
  padding: 0;
  padding: 7px 3rem;
}